body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #fdfdfd;
}


:focus {
    outline: 0 !important;
}

.color-555 {
    color: #555;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-17 {
    font-size: 17px;
}

.text-18 {
    font-size: 18px;
}

.text-19 {
    font-size: 19px;
}

.text-20 {
    font-size: 20px;
}

.td {
    color: #0a61b8;
}
.bd {
    background: #0a61b8;
}


:root {

    --fu: 'Ubuntu', sans-serif;

    --fl: 'Lato', sans-serif;
    
    --td: #0a61b8 ;

    --shadow : 0px 10px 20px -10px #ddd;
    
    --shadow-hover: 0px 10px  20px 0px #ddd;
    
    --border : 1px solid #f0f8ff;
    
    --animate: translate(0, -2%);

}


.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

/* scrollUp */
#scrollUp {
    background: var(--bd);
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
}

#scrollUp:hover {
    background: #222;
}

/* Preloader */
#pre-loader {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}

#pre-loader img {
    text-align: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    color: #333;
    font-size: 28px;
    font-family: var(--fu);
    text-transform: capitalize;
}

.section-title h2::after {
    content: '';
    height: 2px;
    width: 90px;
    background: var(--td);
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.section-title p {
    width: 70%;
    color: var(--tm);
    font-size: 15px;
    margin: 0 auto;
}

.section-title h2 span {
    color: var(--td);
}
.animate__animated.animate__fadeInUp {
  --animate-duration: 1.8s;
}